---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "All your data",
    description:
      "dwata can manage all your emails, calendars, Slack, LinkedIn, and more. All on your computer.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Fully offline",
    description:
      "Your entire digital footprint available offline, Internet not needed. Go on flight mode!",
    icon: "bx:bxs-data",
  },
  {
    title: "Complete privacy",
    description:
      "dwata runs on your laptop and no data, not even product analytics, leaves your laptop without your permission!",
    icon: "bx:bxs-bot",
  },
  {
    title: "Search everything",
    description:
      "Blazing fast search across all your emails, attachments, messages, contacts, files.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Attachments and files",
    description:
      "Browse attachments (from emails) and files (from online or local drives), grouped by sender, month, year.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Please remind me...",
    description:
      "dwata can remind you about pending conversations, todos like bills, flights and more.",
    icon: "bx:bxs-bot",
  },
];

const upcoming_features = [
  {
    title: "Organize with AI",
    description:
      "Label your emails; organize into folders; rename files with context... let AI do the hard work daily.",
    icon: "bx:bxs-window-alt",
  },
  // {
  //   title: "What needs to be done?",
  //   description:
  //     "Let AI find out tasks that are waiting for you, constantly filtering them out from new emails, messages, notes...",
  //   icon: "bx:bxs-user",
  // },
  {
    title: "Web in a box",
    description:
      "Built in web crawler which can fetch all your web research, blogs and more.",
    icon: "bx:bxs-file-find",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Our inboxes are like thousand paper cuts.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Getting everything in one place, searching across mutliple accounts, keeping
    track of todos, delegating information with others can all take up a lot of
    our daily time. Some days we are on top of our digital life, while on other
    days they drag us down.
  </p>
</div>

<div class="grid sm:grid-cols-2 my-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>

<div>
  <h3 class="text-2xl lg:text-3xl font-bold lg:tracking-tight">
    Coming soon...
  </h3>
  <p class="text-lg mt-4 text-slate-600">
    dwata is in a very early stage of development and there is a lot that is
    coming your way. AI integration, web crawler and more. And the best part -
    dwata can use open source AI models on your laptop or on the cloud for full
    privacy.
  </p>
</div>

<div class="grid sm:grid-cols-2 mt-16 gap-16">
  {
    upcoming_features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
